
body{
  background-color: aquamarine;
  margin: 100px;
}
.left-container{
  background-color: blue;
  width: 50%;
  float: left;
}
.right-container{
  background-color: aqua;
  width:50%;
  float: right;
}